*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Finlandica", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: rgb(115, 117, 151);
  background: linear-gradient(
    219deg,
    rgba(115, 117, 151, 1) 0%,
    rgba(63, 68, 149, 1) 100%
  );
}

.content {
  display: flex;
  background: #222957;
  width: 800px;
  height: 700px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.picture {
  display: flex;
  flex-direction: column;
  background-image: url(./images/art.png);
  background-size: cover;
  height: 100%;
  width: 235px;
}

.logo {
  color: white;
  padding: 0 10px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 17vh;
  position: relative;
  background-color: rgb(34, 41, 87);
  box-shadow: rgb(22, 16, 43) 0px 10px 10px -10px;
}

.logo > h1 {
  margin: 10px 0;
}
.right {
}
.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 50px;
}
.input {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 40%;
}

input {
  color: #ffffff;
  font-size: 1.3rem;
  background: #222957;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(115, 117, 151);
  padding-top: 10px;
  margin-bottom: 10px;
}
label {
  color: rgb(115, 117, 151);
  text-transform: uppercase;
  font-weight: 600;
}

button {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 700;
  margin: 10px;
  width: 200px;
  border: none;
  background: #e6226a;
  margin-top: 25px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: rgb(22, 16, 43) 0px 10px 10px -10px;
}

button:hover {
  cursor: pointer;
  background: #ff2977;
}

.form-title {
  width: 100%;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
}

.form-title-sub {
  width: 100%;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 20px;
  margin: 0;
}

.sign-in {
  color: #e6226a;
}
.sign-in:hover {
  color: #e6226a;
  text-decoration: underline;
  cursor: pointer;
}

.title-section {
  margin: 10px;
  padding-bottom: 40px;
}
